{% extends "base.html" %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block css_files %}
<link href="{% static 'blog/post-details.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% if comment_form.errors %}
    <div id="alert">
        <strong>Your comment wasn't submitted, please correct the following error</strong>
        <a href="#comment-form">FIX!</a>
    </div>
{% endif %}

<section id="summary">
    <h2>{{ post.title }}</h2>
    <div>
        {% for tag in post_tags %}
        <span class="tag">{{ tag.caption }}</span>
        {% endfor %}
    </div>
    <div id="read-later">
        <form action="{% url "read-later" %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}" />
            <button>
                {% if saved_for_later %}
                    Remove from Saved Article List               
                {% else %}
                    Save Article
                {% endif %}
            
            </button>
        </form>
    </div>

    <article>
        <img src="{{ post.image.url }}" alt="{{ post.title }}" />
        <address>By <a href="mailto:{{ post.author.email }}">{{ post.author }}</a></address>
        <div>
            Last updated on <time>{{ post.date|date:"d M Y" }}</time>
        </div>
    </article>
</section>

<main>
    {{ post.content|linebreaks}}
</main>

<section id="comments">
    <ul>
        {% for comment in post.comments.all %}
        <li>
            <h2>{{ comment.user_name }}</h2>
            <p>{{ comment.text|linebreaks }}</p>
        </li> <!-- Close the list item here -->
        {% endfor %} <!-- Close the for loop here -->
    </ul>
</section> <!-- Close the section here -->

<section id="comment-form">
    <h2>Your Comments</h2>
    <div>
        <form action="{% url "post-detail-page" post.slug %}" method="POST">
            {% csrf_token %}
            {% for form_field in comment_form %}
            <div class="form-control {% if form_field.errors %}invalid{% endif %}">
                {{ form_field.label_tag }}
                {{ form_field }}
                {{ form_field.errors }}
            </div>
            {% endfor %}
            <button>Submit</button>
        </form>
    </div>
</section>
{% endblock %}
